<div class="container">
    <h1>Privacy Policy for On The Morrow Travels</h1>
    <p><i> Effective date: Feburary 26, 20224 </i></p>
    <p>
        At On The Morrow Travels, accessible from <a [routerLink]="['']">onthemorrowtravels.com</a> and <a [routerLink]="['']">otmtravels.com</a>, 
        one of our main priorities is the privacy of our
        visitors. This Privacy Policy document contains types of information that are collected and recorded by On The Morrow
        Travels and how we use it.
    </p>
    <h2>
        Consent
    </h2>
    <p>
        By using our website, you hereby consent to our Privacy Policy and agree to its terms.
    </p>
    <h2>
        Information We Collect
    </h2>
    <p>
        The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made
        clear to you at the point we ask you to provide your personal information.
    </p>
    <p>
        If you contact us directly, we may receive additional information about you such as your name, email address, phone
        number, the contents of the message and/or attachments you may send us, and any other information you may choose to
        provide.
    </p>
    <p>
        When you register for an Account, we may ask for your contact information, including items such as name, company name,
        address, email address, and telephone number.
    </p>
    <h2>
        How We Use Your Information
    </h2>
    <p>
        We use the information we collect in various ways, including to:
    </p>
        <li>Provide, operate, and maintain our website</li>
        <li>Improve, personalize, and expand our website</li>
        <li>Understand and analyze how you use our website</li>
        <li>Develop new products, services, features, and functionality</li>
        <li>Communicate with you, either directly or through one of our partners, including for customer service, to provide you
        with updates and other information relating to the website, and for marketing and promotional purposes</li>
        <li>Send you emails</li>
        <li>Find and prevent fraud</li>
    <h2>How We Use Your Information</h2>
    <p>We use the information we collect for the following purposes:</p>
        <li>To provide and operate the Website and deliver the services you request</li>
        <li>To process your travel bookings and reservations</li>
        <li>To send you important information about your upcoming travel plans and confirm your bookings</li>
        <li>To send you marketing and promotional communications, such as newsletters and special offers (you can opt-out at any
        time)</li>
        <li>To personalize your experience on the Website</li>
        <li>To analyze the use of the Website and improve our services</li>
        <li>To comply with legal and regulatory requirements.</li>
    <h2>Sharing Your Information</h2>
        <p>
            We may share your information with third-party service providers who help us operate the Website and provide our
            services, such as payment processors, email marketing providers, and travel suppliers. These third-party service
            providers are obligated to use your information only for the purpose of providing the services they are contracted to
            perform. Or where required to by law.
        </p>
        <p>
            We may also share your information with third parties in the following circumstances:
        </p>
        <li>To comply with legal and regulatory requirements</li>
        <li>To enforce our Terms of Use</li>
        <li>To protect our rights, property, or safety, or the rights, property, or safety of others.</li>
    <h2>Your Choices</h2>
    <p>You have a number of choices regarding your information:</p>
    <li>You can opt out of receiving marketing and promotional communications by clicking the unsubscribe link in any email you
    receive from us.</li>
    <li>You can choose to disable cookies by adjusting your browser settings. However, please note that disabling cookies may
    limit your ability to use certain features of the Website.</li>
    <h2>Data Retention</h2>
    <p>
    We will retain your information for as long as it is necessary to fulfill the purposes described in this Privacy Policy,
    unless a longer retention period is required or permitted by law.
    </p>
    <h2>Security</h2>
    <p>
        We take reasonable steps to protect your information from unauthorized access, disclosure, alteration, or destruction.
        However, no website or internet transmission is completely secure, so we cannot guarantee the security of your
        information.
    </p>
    <h2>Children's Privacy</h2>
    <p>
        At no time do we keep, maintain, or hold records of any kind pertaining to children (anyone under the age of 18).  
        This includes but not limited too:
        <li>Birthdates</li>
        <li>Names (of any kind)</li>
        <li>Address</li>
    </p>
    <hr>
    <h2>Changes to Privacy Policy</h2>
    <p>
        We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy
        on the Website. You are advised to review this Privacy Policy periodically for any changes.
    </p>
    <h2>Contact Us</h2>
    <p>If you have any questions about this Privacy Policy, please contact us at:</p>
    <li>Email: <a href="maito:info@otmtravels.com">info&#64;otmtravels.com</a></li>
    <br><br><br><br><br>
</div>
<app-footer></app-footer>