<!DOCTYPE html>
{% extends "base.html"%}
{% load staticfiles%}
<html lang="en">
<head>
  <meta name="description" content="Beautiful home for sale in Haslet, Texas" />
  <meta name="keywords" content="House for sale, house for sale fort worth, beautiful house for sale, house for sale 76052, house for sale 76052, 76052, haslet, fort worth"/>
  <meta property="og:title" content="536 Pollyann Trail" />
  <meta property="og:url" content="http://536Pollyann.com" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{%static "pdl23tp.jpg" %}" />
      {% block body_block %}
      <title>536 Pollyann Trail Pictures</title>
      <link href="{% static "house.ico" %}" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{% static "pics.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "glyphicons-halflings-regular.woff2" %}">
    <link rel="stylesheet" type="text/css" href="{% static "glyphicons-halflings-regular.woff" %}">
    <link rel="stylesheet" type="text/css" href="{% static "glyphicons-halflings-regular.ttf" %}">
      <div class="jumbotron">
    <div class="container">
      <br>
      <br>
      <br>


      <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
    <li data-target="#myCarousel" data-slide-to="7"></li>
    <li data-target="#myCarousel" data-slide-to="8"></li>
    <li data-target="#myCarousel" data-slide-to="9"></li>
    <li data-target="#myCarousel" data-slide-to="10"></li>
    <li data-target="#myCarousel" data-slide-to="11"></li>
    <li data-target="#myCarousel" data-slide-to="12"></li>
    <li data-target="#myCarousel" data-slide-to="13"></li>
    <li data-target="#myCarousel" data-slide-to="14"></li>
    <li data-target="#myCarousel" data-slide-to="15"></li>
    <li data-target="#myCarousel" data-slide-to="16"></li>
    <li data-target="#myCarousel" data-slide-to="17"></li>
    <li data-target="#myCarousel" data-slide-to="18"></li>
    <li data-target="#myCarousel" data-slide-to="19"></li>
    <li data-target="#myCarousel" data-slide-to="20"></li>
    <li data-target="#myCarousel" data-slide-to="21"></li>
    <li data-target="#myCarousel" data-slide-to="22"></li>
    <li data-target="#myCarousel" data-slide-to="23"></li>
    <li data-target="#myCarousel" data-slide-to="24"></li>
    <li data-target="#myCarousel" data-slide-to="25"></li>
  </ol> -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
      <div class="item active">
          <img src="{%static "1.jpg" %}" alt="Beautiful 3 bedroom 2 bath home for sale in Haslet Texas." style="width=100%; height=50%">
      </div>
      <div class="item">
          <img src="{%static "2.jpg" %}" alt="Entry way from outside.  Home for sale 76052." style="width=100%; height=50%">
      </div>
      <div class="item">
          <img src="{%static "3.jpg" %}" alt="Halway.  Home for sale Fort Worth Texas." style="width=100%; height=50%">
      </div>
      <div class="item">
          <img src="{%static "4.jpg" %}" alt="Dining Room.  Home for sale Fort Worth, Texas 76052." style="width=100%; height=50%">
      </div>
      <div class="item">
          <img src="{%static "5.jpg" %}" alt="Dining Room.  Home for sale Fort Worth Texas." style="width=100%; height=50%">
      </div>
      <div class="item">
          <img src="{%static "6.jpg" %}" alt="Kitchen area.  Home for sale Fort Worth, Texas.  Sendera Ranch." style="width=100%; height=50%">
      </div>
      <div class="item">
          <img src="{%static "7.jpg" %}" alt="Dinning and Kitchen.  Home for sale Haslet Texas.  Sendera Ranch." style="width=100%; height=50%">
      </div>
      <div class="item">
          <img src="{%static "8.jpg" %}" alt="Kitchen area.  Home for sale Dallas, Fort Worth, Texas.  Sendera Ranch." style="width=100%; height=50%">
      </div>
      <div class="item">
          <img src="{%static "9.jpg" %}" alt="Full Kitchen area. Home for sale Fort Worth Texas.  Sendera Ranch." style="width=100%; height=50%">
      </div>
      <div class="item">
          <img src="{%static "10.jpg" %}" alt="Kitchen area from entryway hall.  Home for sale Fort Worth Texas.  Sendera Ranch." style="width=100%; height=50%">
      </div>
      <div class="item">
          <img src="{%static "11.jpg" %}" alt="Living Room from entryway hall.  Home for sale Fort Worth Texas.  Sendera Ranch." style="width=100%; height=50%">
      </div>
      <div class="item">
          <img src="{%static "12.jpg" %}" "Living Room from backdoor.  Home for sale Fort Worth Texas.  Sendera Ranch." style="width=100%; height=50%">
      </div>
      <div class="item">
          <img src="{%static "13.jpg" %}" alt="Living Room from bar area.  Home for sale Fort Worth Texas.  Sendera Ranch." style="width=100%; height=50%">
      </div>
      <div class="item">
          <img src="{%static "14.jpg" %}" alt="Living Room from hallway.  Home for sale Fort Worth Texas.  Sendera Ranch." style="width=100%; height=50%">
      </div>
      <div class="item">
          <img src="{%static "15.jpg" %}" alt="Living Room full view.  Home for sale Fort Worth Texas.  Sendera Ranch." style="width=100%; height=50%">
      </div>
      <div class="item">
          <img src="{%static "16.jpg" %}" alt="Office area.  Home for sale Fort Worth Texas.  Sendera Ranch." style="width=100%; height=50%">
      </div>
      <div class="item">
          <img src="{%static "17.jpg" %}" alt="Master bedroom from hallway.  Home for sale Fort Worth Texas.  Sendera Ranch." style="width=100%; height=50%">
      </div>
      <div class="item">
          <img src="{%static "18.jpg" %}" alt="Master bedroom from master bathroom.  Home for sale Fort Worth Texas.  Sendera Ranch." style="width=100%; height=50%">
      </div>
      <div class="item">
          <img src="{%static "19.jpg" %}" alt="Master bedroom from back wall.  Home for sale Fort Worth Texas.  North Fort Worth." style="width=100%; height=50%">
      </div>
      <div class="item">
          <img src="{%static "20.jpg" %}" alt="Master Bathroom.  Home for sale Fort Worth Texas.  76052." style="width=100%; height=50%">
      </div>
      <div class="item">
          <img src="{%static "21.jpg" %}" alt="Master Bathroom shower and tub. Home for sale Fort Worth Texas.  Haslet Texas." style="width=100%; height=50%">
      </div>
      <div class="item">
          <img src="{%static "22.jpg" %}" alt="Kids Bedroom. Home for sale Fort Worth Texas.  Sendera Ranch." style="width=100%; height=50%">
      </div>
      <div class="item">
          <img src="{%static "23.jpg" %}" alt="Backyard View from porch.  Home for sale Fort Worth Texas.  Sendera Ranch." style="width=100%; height=50%">
      </div>
      <div class="item">
          <img src="{%static "24.jpg" %}" alt="Backdoor view from backyard.  Home for sale Fort Worth Texas.  Sendera Ranch." style="width=100%; height=50%">
      </div>
      <div class="item">
          <img src="{%static "25.jpg" %}" alt="Backside of house from backyard.  Home for sale Fort Worth Texas.  Sendera Ranch." style="width=100%; height=50%">
      </div>
      <div class="item">
          <img src="{%static "S1.jpg" %}" alt="Sendera Ranch entrance.  Home for sale Sendera Ranch Fort Worth Texas" style="width=100%; height=50%">
      </div>
      <div class="item">
          <img src="{%static "S2.jpg" %}" alt="Sendera Ranch playground.  House for sale Sendera Ranch Fort Worth Texas" style="width=100%; height=50%">
      </div>
      <div class="item">
          <img src="{%static "S3.jpg" %}" alt="Sendera Ranch pool.  Home for sale Haslet, Texas." style="width=100%; height=50%">
      </div>



    </div>
    <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


      <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>
  <h3><b><a href="https://www.rebdgroup.com/homes/536-Pollyann-Trail/Fort-Worth/TX/76052/94589219/" target="_blank">Contact Agent To Schedule a Viewing (940) 228-1761</h3></a></b>
  <div class="fb-like" data-href="https://536pollyann.com/pictures" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
<!-- The dots/circles
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div> -->


  </div>
</div>
  {% endblock %}
</html>
